/* CSS Document */



/*
form Placeholder 
*/

.form-control::-webkit-input-placeholder {
   color: white;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

.form-control:-ms-input-placeholder {  
   color: white;  
}




/*	
Background Color Set
*/
.bgColorOne{background-color:#fad46b;}
.bgcolorTwo{background-color:#f2cd68;}
.bgcolorThree{background-color:#ee9e51;}
.bgcolorFour{background-color:#c42b2b;}
.bgcolorFive{background-color:#fc6522;}
.bgcolorSix{background-color:#fc6522;}

.bgcolor-abt-Header{background-color:#f6b812;}
.bgcolor-abt-01{background-color:#f5f5f5;}
.bgcolor-abt-02{background-color:#ededed;}

.bgcolor-news-Header{background-color:#b6009a;}



/*
Gradiant Background Color Set
*/
.bgGrdOne{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fad46b+0,fad46b+50,f2cd68+51,f2cd68+100 */
background: #fad46b; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZDQ2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZhZDQ2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2YyY2Q2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmNkNjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fad46b 0%, #fad46b 50%, #f2cd68 50%, #f2cd68 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fad46b), color-stop(50%,#fad46b), color-stop(50%,#f2cd68), color-stop(100%,#f2cd68)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fad46b 0%,#fad46b 50%,#f2cd68 50%,#f2cd68 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fad46b 0%,#fad46b 50%,#f2cd68 50%,#f2cd68 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fad46b 0%,#fad46b 50%,#f2cd68 50%,#f2cd68 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fad46b 0%,#fad46b 50%,#f2cd68 50%,#f2cd68 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad46b', endColorstr='#f2cd68',GradientType=0 ); /* IE6-8 */
}


/*
Header Logo
*/

.logo{ margin-top:10px; margin-left:25%;}


/*
Header Buttons
*/
.menu-getStarted-btn-adj{display:inline-block;}
.menu-getStarted-btn-adj > button{background-color:#f98c41; -webkit-box-shadowbox-shadow:0 5px #d36e37 !important; box-shadow:0 5px #d36e37 !important;}
.menu-getStarted-btn-adj > button:hover{background:#f98c41 !important; border-color:#f98c41;}
.menu-getStarted-btn-adj > button:focus{background:#f98c41 !important; border-color:#f98c41;}
.menu-getStarted-btn-adj > button{width:120px; border-radius: 4px 0px 0px 4px !important;}

.menu-login-btn-adj{display:inline-block; margin-left: -2px;}
.menu-login-btn-adj > button{background-color:#ef6020; -webkit-box-shadowbox-shadow:0 5px #cf521a !important; box-shadow:0 5px #cf521a !important;}
.menu-login-btn-adj > button:hover{background:#ef6020 !important; border-color:#ef6020;}
.menu-login-btn-adj > button:focus{background:#ef6020 !important; border-color:#ef6020;}
.menu-login-btn-adj > button{width:75px; border-radius: 0px 4px 4px 0px !important;}


/*
Other Buttons
*/
.bnr-getStarted-btn-adj{margin-top:30px; display:block;}
.bnr-getStarted-btn-adj > button{background-color:#3eb5ac; -webkit-box-shadowbox-shadow:0 5px #5382a2 !important; box-shadow:0 5px #28948c !important;}
.bnr-getStarted-btn-adj > button:hover{background:#3eb5ac !important; border-color:#3eb5ac;}
.bnr-getStarted-btn-adj > button:focus{background:#3eb5ac !important; border-color:#3eb5ac;}
.bnr-getStarted-btn-adj > button{width:180px;}

.sclClg-findmore-btn-adj{margin-top:30px; display:block;}
.sclClg-findmore-btn-adj > button{background-color:#81acc9; -webkit-box-shadowbox-shadow:0 5px #5382a2 !important; box-shadow:0 5px #5382a2 !important;}
.sclClg-findmore-btn-adj > button:hover{background:#81acc9 !important; border-color:#81acc9;}
.sclClg-findmore-btn-adj > button:focus{background:#81acc9 !important; border-color:#81acc9;}
.sclClg-findmore-btn-adj > button{width:180px;}

.forStd-findmore-btn-adj{margin-top:30px; display:block; margin-left:15px; padding-top:25px; padding-bottom:30px;}
.forStd-findmore-btn-adj > button{background-color:#f2ca22; -webkit-box-shadowbox-shadow:0 5px #edb843 !important; box-shadow:0 5px #edb843 !important;}
.forStd-findmore-btn-adj > button:hover{background:#f2ca22 !important; border-color:#f2ca22;}
.forStd-findmore-btn-adj > button:focus{background:#f2ca22 !important; border-color:#f2ca22;}
.forStd-findmore-btn-adj > button{width:185px;}

.forBusiness-findmore-btn-adj{display:block;}
.forBusiness-findmore-btn-adj > button{background-color:#e2e2e2; -webkit-box-shadowbox-shadow:0 5px #bbbdbd !important; box-shadow:0 5px #bbbdbd !important;}
.forBusiness-findmore-btn-adj > button:hover{background:#e2e2e2 !important; border-color:#e2e2e2; color:#858585;}
.forBusiness-findmore-btn-adj > button:focus{background:#e2e2e2 !important; border-color:#e2e2e2; color:#858585;}
.forBusiness-findmore-btn-adj > button{width:185px; color:#858585;}


.ftr-send-btn-adj{display:block;}
.ftr-send-btn-adj > button{background-color:#fad46b; -webkit-box-shadowbox-shadow:0 5px #f3bc65 !important; box-shadow:0 5px #f3bc65 !important;}
.ftr-send-btn-adj > button:hover{background:#fad46b !important; border-color:#fad46b; color:#333;}
.ftr-send-btn-adj > button:focus{background:#fad46b !important; border-color:#fad46b; color:#333;}
.ftr-send-btn-adj > button{color:#333;}


/*
Header Navigation
*/
.h_pg_homeIcon{color:#c4331c;}
#navigationContainer{ margin-top:10px;}
nav{}
nav ul{}
nav > ul > li{ list-style-type:none; font-family:'open_sansregular'; display:inline-block; padding:0px 3px; font-size:15px; font-weight:bold; border-right: solid 1px rgba(255, 255, 255, 0.5); height: 40px; line-height: 40px;}
nav > ul > li a{color:#ef6020;}
nav > ul > li a:hover{text-decoration:none; color:#ef6020;}
nav > ul > li a:focus{text-decoration:none; color:#ef6020;}

.border-right-none{border-right:none;}


/*
Homepage -> Banner
*/
.h-bnr-h1-a{ font-family:'Conv_gbc'; font-size:60px; color:#fc6522; margin-top:10px;}
.h-bnr-h1-b{ font-family:'Conv_MyriadPro-Regular'; font-size:60px; color:#c4331c; font-weight:bold;}
.h-bnr-sNote-1{color:#a48740; font-size:20px; margin-top:70px; line-height:25px;}
.h-bnr-sNote-2{color:#a48740; font-weight:bold; font-size:20px;}
.h_bnr_btn{ margin-top:30px;}
.bnr_pix_height_adj{margin:30px 0px 80px 0px;}
.header_btn_group{ margin-top:10px;}
.bnr_txt_group{margin-left: 15%;}


/*
Overlaping Box A
*/
.overlap_bx_a{ background-color:#FFFFFF; border-radius:6px; width:500px;  margin-top: -140px; float: right; margin-right: -15px;}
.overlap_bx_a h1{font-family:'Conv_SourceSansPro-Semibold'; color: #5bc9a7; font-size:36px; padding:20px; text-align:left;}
.overlap_bx_a .heightedTxt{ font-size:30px; font-family:'Conv_SourceSansPro-Semibold'; font-weight:bold; color:#5bc9a7; margin-left:15px; margin-top:10px;}
.overlap_bx_a .txtNote{ margin-left:15px; margin-top:10px; font-size:18px; font-family:'source_sans_proregular';}
.overlap_bx_a .points{ margin-top:15px; margin-left:15px; line-height:30px;}
.overlap_bx_a .points > ul > li{ list-style-type:none;}
.overlap_bx_a .points > ul > li::before{content: "\f058"; color:#89b2cd; font-family: FontAwesome; padding-right:10px;}
.overlap_bx_a .find_btn{margin-left:20px;}

.video_one{margin:0 auto; display:block;}


/*
Overlaping Box B
*/
.overlap_bx_b{background-color:#FFFFFF; border-radius:6px; width:500px;  margin-top: -40px; float: left; margin-left:-15px;}
.overlap_bx_b .heightedTxt{ font-size:30px; font-family:'Conv_SourceSansPro-Semibold'; font-weight:bold; margin-left:15px; padding-top:30px;}
.overlap_bx_b h1{font-family:'Conv_SourceSansPro-Semibold'; color: #ec943e; font-size:36px; padding:20px; text-align:left;}
.overlap_bx_b .txtNote{ margin-left:15px; margin-top:10px; font-size:18px; font-family:'source_sans_proregular';}
.overlap_bx_b .points{ margin-top:15px; margin-left:15px; line-height:30px; width:60%;}
.overlap_bx_b .points > ul > li{ list-style-type:none;}
.overlap_bx_b .points > ul > li::before{content: "\f058"; color:#fff; font-family: FontAwesome; padding-right:10px;}
.overlap_bx_b .shadeBoxa{background-color:#ee9e51; color:#fff;}
.overlap_bx_b .shadeBoxa p{color:#fff;}
.overlap_bx_b .shadeBoxb{background-color:#f0a863;}



/*
Round Circle Viddeo On Homepage
*/
.vid_round_01{ position:absolute; left: 280px; top: -110px;}
.vid_round_02{ position:absolute; left: 390px; top: 85px;}
.vid_round_03{ position:absolute; left: 340px; top: 290px;}



/*
For Business Section
*/
.forBusiness{ background-color:#999999; border-radius:8px; overflow:hidden; margin-bottom:30px; margin-top:20px;}
.forBusiness h1{ background-color:#c42b2b; line-height:50px; font-size:2.250em; color:#fff; font-family:'Conv_SourceSansPro-Semibold'; padding-left:25px;}
.forBusiness h2{ font-size:1.875em; color:#fff; font-family:'Conv_SourceSansPro-Semibold'; margin:15px 0px;}
.forBusiness p{color:#fff; line-height: 25px;}
.vid4business{ margin:15px 0px;}
.forBusiness i{padding-right:20px; margin-left: 80px;}
.forBusiness .btn{margin-bottom:20px;}

.points4Business{  margin-left:-15px;   margin-top: 20px;}
.studyDesk{display: inline-block;  float: left;}

.h_page_cf_input_adj{color:#fff !important; background-color:transparent !important;}
.h_page_cf_send_btn{width:100%; margin-top:30px;}



/*
Footer
*/
#footer{color:#fff;}


/*1st Box*/
.ftr-bx-01{ margin-left:13%; margin-top:35px}
.ftr-bx-01 h1{ font-size: 2.250em; text-transform:uppercase; font-weight:bolder; margin-bottom:15px; color:#fff;}
.ftr-bx-01 h2{font-size: 1.875em; text-transform:uppercase; font-weight:bolder; color:rgba(255, 255, 255, 0.5); margin:20px 0px 15px 0px;}
.ftr-bx-01 p{ color:rgba(255, 255, 255, 0.8); line-height: 25px; margin-bottom:15px;}

.ftr-social-iconSet{}
.ftr-social-iconSet i{ background-color:#b44311; padding:15px 20px; color:rgba(255, 255, 255, 0.5); margin-bottom:20px;}


/*2nd Box*/
.ftr-bx-02{margin-top:35px}
.ftr-bx-02 h2{font-size: 1.875em; text-transform:uppercase; font-weight:bolder; color:#fff; margin:20px 0px 15px 0px;}
.ftr-bx-02 p{ color:rgba(255, 255, 255, 0.8); line-height: 25px; margin-bottom:15px;}



/*
copyright
*/
#copyright{ background-color:#d65c26;}
#copyright p{color:#993300; font-size: 0.750em; padding:20px 85px;}






/*------------------------------ ABOUT US -----------------------------------*/


/*
About -> Banner
*/
.abt-bnr-h1-a{ font-family:'Conv_gbc'; font-size:60px; color:#fff; margin-top:10px;}
.abt-bnr-h1-b{ font-family:'Conv_gbc'; font-size:60px; color:#fc6522; font-weight:bold;}
.abt-bnr-sNote-1{color:#a48740; font-size:20px; margin-top:70px; line-height:25px;}
.abt-bnr-sNote-2{color:#a48740; font-weight:bold; font-size:20px;}
.abt_bnr_btn{ margin-top:30px;}
.bnr_pix_height_adj{margin:30px 0px 80px 0px;}
.header_btn_group{ margin-top:10px;}
.bnr_txt_group{margin-left: 15%;}


.abt-bnr-pix-height-adj{margin-top: 70px; width: 98%; margin-bottom:-3px;}
.abtDiscOne{ font-family:'source_sans_proregular'; font-size:20px; padding:50px 0px 0px 0px; text-align: justify; color:#7a797a;}
.abtDiscTwo{ font-family:'source_sans_proregular'; font-size:20px; padding:25px 0px; text-align: justify; color:#7a797a;}
.abtDiscThree{ font-family:'source_sans_proregular'; font-size:20px; text-align:right; padding-top:50px; color:#7a797a;}
.abtDiscFour{font-family:'source_sans_proregular'; font-size:20px; text-align:right; padding-top:30px; color:#7a797a;}
.abtDiscFive{font-family:'source_sans_proregular'; font-size:20px; text-align:right; padding:30px 0px; color:#7a797a;}
.abt-get-started-btn-adj{ margin-top:70px; width:90%; background-color:#f6b812 !important;}

.abt-study-img_adj{margin-top: -20px; margin-left:10%;}

.abt-getStartedBtn{background-color:#f6b812; width:350px; height:70px; font-size:26px; border-radius:12px; margin-top:70px;}
.abt-getStartedBtn a{color:#fff}
.abt-getStartedBtn a:hover{color:#fc6522; text-decoration:none; -webkit-transition: all 200ms ease-in; -o-transition: all 200ms ease-in; -moz-transition: all 200ms ease-in;}
.abt-getStartedBtn a:focus{text-decoration:none;}
 


/*------------------------------ NEWS -----------------------------------*/



/*
News
*/

.news-bnr_txt_group{margin-left:6%; margin-top:20px; margin-bottom:140px;}
.news-bnr-h1-a{ font-family:'Conv_Gotham-Bold'; font-size:60px; color:#3d2fac; }
.newsThOne{float:left; padding:0px 25px 25px 0px;}
.keywordCont{ margin-top:30px; font-family:'source_sans_proregular';}
.keywordCont ul{ color:#00aeff;}
.keywordCont li{ display:inline-block; border-right:1px solid #00aeff; padding:0px 5px; }
.keywordCont .last{ border-right:none !important;}

.newsDiscOne{ font-family:'source_sans_proregular'; font-size:20px; padding:50px 0px 0px 0px; text-align: justify; color:#7a797a;}
.newsDiscTwo{ font-family:'source_sans_proregular'; font-size:20px; padding:25px 0px; text-align: justify; color:#7a797a;}

.news_cat h3{ font-size:24px; font-family:'Conv_Gotham-Bold'; color:#3d2fac; margin-top:32px;}
.news_cat ul{ border-bottom:1px solid rgba(211, 211, 211, 0.3); padding:15px 0px;}
.news_cat li{ list-style-type:none;color:#23b3fe; font-size:18px; line-height:25px;}

.news_recent_post h3{ font-size:24px; font-family:'Conv_Gotham-Bold'; color:#3d2fac; margin-top:32px;}
.news_recent_post ul{ border-bottom:1px solid rgba(211, 211, 211, 0.3); padding:15px 0px;}
.news_recent_post li{ list-style-type:none;color:#23b3fe; font-size:18px; line-height:25px;}


.news_tags h3{ font-size:24px; font-family:'Conv_Gotham-Bold'; color:#3d2fac; margin-top:32px;}
.news_tags ul{ border-bottom:1px solid rgba(211, 211, 211, 0.3); padding:15px 0px;}
.news_tags li{ list-style-type:none;color:#23b3fe; font-size:18px; line-height:25px;}